
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Header CSS file */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 90vw;
  margin: 0 auto;
  padding-block: 5px;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.left-part {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.search-bar input {
  padding: 5px;
  background: transparent;
  font-size: 16px;
  width: 600px;
  color: white;
  height: 28px;
  margin: auto 0;
  border: 1px solid white;
  border-radius: 4px;
}

.search-bar input:focus{
  border: 1px solid white;
}


.right-part {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: rgb(238, 217, 217);
}

.actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 4px;
}


.icon {
  font-size: 1.8em;
  color: #fff;
}

.icon:hover {
  color: #c5e9f3;
}

.cart-logo{
  display: flex;
  position: relative;
}
.cart-logo .count{
  position: absolute;
  top: -5px;
  right: 0;
  background-color: black;
  padding: 3px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.nav-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color:white ;
  margin-left: 10px;
}

/* Responsive styles for mobile */
@media (max-width: 740px) {
  .header{
    height: 7vh;
  }
  .nav {
    display: none; /* Hide navbar by default on mobile */
    position: absolute;
    align-items: flex-start;
    top: 65px;
    z-index: 5;
    right: 0;
    box-shadow: 2px 2px 4px white;
    width: 120px;
    background: black;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(184, 175, 175);
    border-radius: 4px;
  }


  .nav a{
    font-size: 16px;
    font-weight: 500;
  }

  .search-bar input {
    font-size: 11px;
    width: 200px;
    height: 18px;
  }

  .nav-active {
    display: flex;
   /* Show navbar when active */
  }

  .nav-toggle {
    display: block;
    align-content: center;
    font-size: medium; /* Show the toggle button on mobile */
  }
  .left-part{
    gap: 10px;
  }

  .right-part{
    gap: 15px;
  }

  .actions {
    display: flex;
    gap: 15px;
  }

  .cart-logo .count{
    font-size: 8px;
  }

  .icon{
    font-size: 1.1em;
  }
}

/* Home css file */

.home {
  padding-top: 20px;
  max-width: 90vw;
  margin: 0 auto;
}

.hero-banner {
  margin-bottom: 30px;
}


.hero-banner img {
  width: 100%;
  border-radius: 8px;
  height: 60vh;
  box-shadow: 2px 3px 5px whitesmoke;
}

@media (max-width: 740px){
  .hero-banner{
    margin-bottom: 5px;
  }

  .hero-banner img{
    height: auto;
  }
}

/* Products css file */
.products {
  padding-top: 10px;
  max-width: 90vw;
  margin: 0 auto;
}

.products-info h1 {
  color: white;
  margin-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  width: 100%;
  gap: 15px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px;
  height:340px ;
  text-align: center;
}

.product-card a{
  text-decoration: none;
  color: white;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  height: 70%;
}

.product-card h3 {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}

.product-card p {
  color: white;
  font-size: 16px;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px white;
}

.net-slow{
  max-width: 90vw;
  margin: 0 auto;
  color: red;
}

@media (max-width: 740px){
.products{
  width: 95vw;
  margin: 0 auto;
}

  .products-info h1 {
    font-size: 22px;
    font-weight: strong;
  }

  .products-list{
    display: flex;
    flex-wrap: wrap;
  }

  .product-card{
    width: 170px;
    height: 220px;
  }
  .product-card h3{
    font-size: 14px;
    margin-block: 7px;
  }

  .product-card p{
    font-size: 14px;
  }
}

/* product css file */

.product{
  width: 90vw;
  height: 100vh;
  margin: 0 auto
}
.back-home{
  position: absolute;
  top: 8px;
  padding: 5px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}
.back-home a{
  color: white;
  text-decoration: none;
}
.product-item{
  position: relative;
  max-width: 650px;
  margin: 100px auto;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding-top: 45px;
  padding-bottom: 15px;
  padding-inline: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item .item-img{
  width: 220px;
}
.item-img img{
  width: 100%;
  border-radius: 6px;
}
.product-item-info{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-item-info div{
  line-height: 25px;
}

.product-item-info b{
  font-size: 18px;
}


.cart-btn{
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}

@media (max-width:740px) {
  .product{
    width: 95vw;
  }
  .product-item{
      margin-block: 30px;
      margin-inline: auto;
  }

  .item-img{
      width: 80%;
      margin: 0 auto;
  }

  .item-img img{
      height: 230px;
  }
  .product-item-info{
      margin-top: 12px;
  }

  .product-item-info b{
      font-size: 16px;
  }

  .item-price b{
      font-size: 18px;
  }
}

/* Contact css file */
.contact {
  padding: 20px;
  max-width: 90vw;
  margin: 0 auto;
}

.contact-info {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 50px;
  border: 1px solid white;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(12px);
  border-radius: 8px;
}

.contact-info h1 {
  margin-bottom: 20px;
  color: white;
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-info label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.form-info input, .form-info textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 12px;
  color: white;
  margin-top: 5px;
  background: transparent;
}

.form-info textarea {
  resize: vertical;
  min-height: 70px;
}

.send-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
  .contact-info h1 {
    font-size: 25px;
  }

  .send-btn{
    font-size: 12px;
  }

  .form-info input, .form-info textarea{
    height: 8px;
    font-size: 12px;
  }

  .form-info textarea{
    min-height: 50px;
  }

  .contact-info{
    padding: 15px;
  }
}

/* Cart css file */
.cart {
  padding: 20px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
}

.empty-cart{
  color: white;
  max-width: 90vw;
  font-size: 22px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 10px;
}

.cart-info{
  width: 650px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid white;
}

.cart-info h1 {
  color: white;
  margin-bottom: 20px;
  font-size:xx-large;
}


.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 10px 0;
  width: 600px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 7px;
}
.item-details{
  display: flex;
  align-items: center;
  gap: 50px;
}
.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.remove-btn, .purchase-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.purchase-btn{
  background-color: rgb(59, 241, 59);
  margin-top: 10px;
  padding: 10px;
}

.remove-btn{
  background-color: rgb(249, 80, 80);
}

.remove-btn:hover {
  background-color: rgb(243, 59, 59);
  border: 1px solid white;
}
.purchase-btn:hover{
  background-color: greenyellow;
  border: 1px solid white;
}

@media (max-width: 740px) {

  .cart{
    width: 95vw;
  }
  .cart-info{
    width: 100%;
    padding: 20px;
  }

  .cart-info h1{
    font-size: large;
  }

  .purchase-btn{
    padding: 5px;
    font-size: 12px;
    margin-top: 4px;
  }

  .remove-btn{
    font-size: 12px;
    height: 22px;
    padding: 5px;
  }

  .total h2{
    font-size: 15px;
  }
  .empty-cart{
    font-size: 14px;
    line-height: 25px;
  }

  .item-details{
    gap: 30px;
  }
  .cart-item{
    width: 100%;
  }
  .cart-item img{
    width: 50px;
    height: 50px;
    margin-left: -5px;
  }
  .item-details p{
    font-size: 12px;
  }
}

/* Account css file */

.account {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-info{
  box-shadow: 2px 2px 8px white;
  border-radius: 8px;
  margin-top: 100px;
  width: 450px;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);

}

.account-info h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

.profile-info table tr td {
  padding: 10px;
}

.edit-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
.account-info{
  width: 300px;
}

  .profile-info{
    font-size: 14px;
  }

  .account-info h1{
    font-size: 20px;
  }

  .edit-button{
    padding: 8px 15px;
    font-size: 12px;
  }
}


/* Editprofile css file */

.edit-profile{
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.edit-profile-info{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  padding: 15px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: none;
  box-shadow: 2px 2px 8px white; 
}

.edit-profile-info h1{
  color: white;
}

.edit-profile-form{
  display: flex;
  flex-direction: column;
}
.edit-profile-form label{
  font-size: 20px;
  color: white;
  margin-top: 10px;
}
.edit-profile-form input{
  width: 100%;
  height: 25px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid white ;
  border-radius: 4px;
  color: white;
  padding: 4px;
}

.edit-buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.save-button, .back-btn{
  padding: 4px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover, .back-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 740px) {
  .edit-profile h1{
      font-size: 16px;
      margin-bottom: 8px;
  }
  .edit-profile-info{
      width: 300px;
      height: 280px;
  }
  .edit-profile-form label{
      font-size: 15px;
      margin-top: 2px;
  }
  .edit-profile-info input{
      height: 20px;
      margin-bottom: 8px;
  }
  .save-button,.back{
      width: fit-content;
      font-size: 10px;
  }
}

/* Footer css file */

.footer{
  background-color: rgb(23, 23, 23);
  width: 100%;
  color: white;
  font-size: 16px;
  display: grid;
  align-items: center;
  text-align: center;
  position: fixed;
  height: 7vh;
  bottom: 0;
}

@media (max-width: 740px){
  .footer{
    height: 5vh;
    font-size: 12px;
  }
}
